body {background:#000;}

.tools {
	margin:0;padding:0;list-style:none;
	clear:both;
	display:block;
	height:40px;
}
.tools span {
	line-height:30px;
}

.tools li {
	min-width:30px;
	text-align:center;
	margin:0;padding:5px 10px;
	margin-right:5px;
	display:block;
	height:30px;
	line-height:30px;
	background:#333333;
	border-radius:5px;
	float:left;
	cursor:pointer;
	color:#FFF;
}
.tools li.selected {
	background:#555555;
}

table {
	clear:both;
	width:320px;
	height:320px;
	margin-top:20px;
	margin-bottom:20px;
	cursor:pointer;
}
table td {
	width:40px;height:40px;border:2px solid #333;
}

.minicolors-panel {
	border:3px solid #333;
	background:#000000;
}
